extends ../layout

block content
  h2= title
  p 
    | Are you sure you want to delete 
    em= workout.title
    | ?
  form(action="/workouts/" + workout.id + "/delete", method="post")
    a(href="/workouts/" + workout.id) No! Take me back! 
    | 
    input(type="submit", value = "Yes, I'm sure")