doctype html
html(lang="en")
    head    
        title Welcome #{name} 
    body
        h1 The future of #{name}'s project 
        p Cannot wait to see how this bad boy grows and develops over time. this was a great idea to start anew on this project. 