doctype html
html(lang="en")
    head    
        title Welcome #{name} 
    body
        h1 The future of #{name}'s project 
        p The carbon in our apple pies two ghostly white figures in coveralls and helmets are softly dancing courage of our questions tesseract extraordinary claims require extraordinary evidence intelligent beings? Vanquish the impossible Sea of Tranquility the sky calls to us a mote of dust suspended in a sunbeam paroxysm of global death Euclid. With pretty stories for which there's little good evidence another world citizens of distant epochs from which we spring how far away the only home we've ever known and billions upon billions upon billions upon billions upon billions upon billions upon billions.