doctype html
html(lang="en")
    head    
        title User Page
    body
        h1 #{name} - #{email}
        p Birth made in the interiors of collapsing stars quasar the carbon in our apple pies extraordinary claims require extraordinary evidence great turbulent clouds? With pretty stories for which there's little good evidence the only home we've ever known rings of Uranus hundreds of thousands hearts of the stars prime number. Two ghostly white figures in coveralls and helmets are softly dancing two ghostly white figures in coveralls and helmets are softly dancing vastness is bearable only through love something incredible is waiting to be known Sea of Tranquility rings of Uranus and billions upon billions upon billions upon billions upon billions upon billions upon billions.
    ul  
        li Sea of Tranquility
        li Jean-François Champollion
        li ship of the imagination
